header {
    display: grid;
    grid-template-columns: 70% 30%;
    border-image: linear-gradient(to right, var(--primary) 0%, transparent 20%, transparent 80% , var(--primary) 100%) 1;
    border-style: solid;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    padding: 1rem 1rem 0 1rem;
}

.links {
    justify-content:right;
    align-items:center;
    gap: 5rem;
    display: flex;
}

#switch {
  position: relative;
  background: transparent;
  border: none;
  fill: var(--text);
  color: var(--text);
  transition: all 0.3s ease;
  cursor: pointer;
  z-index: 0;
  border-radius: 24px;
  padding: 8px 16px;
  overflow: hidden;
}

#switch:hover {
  background: var(--primary);
  fill: var(--bg-dark);
  color: var(--bg-dark);
  box-shadow: 0 0 16px 4px var(--primary);
  transform: translateY(-2px); /* jemné zvednutí */
}
.links a {
  position: relative;
  background: transparent;
  border: none;
  fill: var(--text);
  color: var(--text);
  transition: all 0.3s ease;
  cursor: pointer;
  z-index: 0;
  border-radius: 24px;
  padding: 8px 16px;
  overflow: hidden;
  display: block
}

.links a:hover {
  background: var(--primary);
  fill: var(--bg-dark);
  color: var(--bg-dark);
  box-shadow: 0 0 16px 4px var(--primary);
  transform: translateY(-2px);
}