header {
    display: grid;
    grid-template-columns: 70% 30%;
}

.links {
    justify-content: space-evenly;
    align-items: center;
    display: flex;
}

#switch {
  background-color: transparent;
  border-style: none;
}