.hero {
    display: 
    grid;
    grid-template-columns: 33.3% 33.4% 33.3%;
    width: 100%;
    height: 90vh;
    align-items: center;
    text-align: center;
}

@media (max-width: 768px) {
    .hero {
        grid-template-columns: 100%;
        height: auto;
        padding: 2rem 0;
    }
}

.projects {
    background-color: var(--bg);
    border-style:solid;
    border-width: 2px 0 0 0;
    border-color: var(--primary);
    text-align: center;
    width: 100%;
}

.project-cards {
    align-items: center;
    text-align: center;
    margin: auto;
    padding: 2%;
    width: 40%;
}

@media screen and (max-width: 768px) {
    .project-cards {
        width: 90%;
    }
    
}

.project-card {
    height: 250px;
    background-color: var(--bg-light);
    border-style: solid;
    border-width: 2px;
    border-color: var(--highlight);
}

.project-card:hover {
    border-color: var(--primary);
    box-shadow: 0 0 2px var(--primary);
    transform: translateY(-2px); /* jemné zvednutí */
    transition: all 0.3s ease;
}


.tools {
    align-items: center;
    text-align: center;
    border-style:solid;
    border-width: 2px 0 0 0;
    border-color: var(--primary);
    border-width: 2px 0 0 0;
    border-color: var(--primary);
}

.carousel {
    width: min-content;
    overflow: hidden;
    padding: 40px 0;
    cursor: grab;
    margin: auto;
        border-width: 2px 0 0 0;
    border-color: var(--primary);
}

.carousel:active {
    cursor: grabbing;
}

.carousel-track {
    gap: 40px;
    transform: translateX(0);
    display: grid;
    grid-template-columns: repeat(5, auto);
}

@media screen and (max-width: 768px) {
    .carousel-track {
        grid-template-columns: repeat(3, auto);
    }
}

.carousel-track img {
    width: 70px;
    height: 70px;
    opacity: 0.8;
    transition: opacity .2s;
    pointer-events: none;
    user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;

}

.carousel-track img:hover {
    opacity: 1;
}