.hero {
    display: grid;
    grid-template-columns: 33.3% 33.4% 33.3%;
    width: 100%;
    height: 90vh;
    align-items: center;
    text-align: center;
}

.projects {
    background-color: var(--bg);
    border-style:solid;
    border-width: 2px 0 0 0;
    border-color: var(--primary);
    align-items: center;
    text-align: center;
    width: 100%;

}

.project-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 90%;
    align-items: center;
    text-align: center;
    margin: auto;
}

.project-card {
    height: 250px;
    width: 80%;
    margin: 10%;
    background-color: var(--bg-light);
    border-style: solid;
    border-width: 2px;
    border-color: var(--highlight);
}

.project-card:hover {
    border-color: var(--primary);
    box-shadow: 0 0 2px var(--primary);
    transform: translateY(-2px); /* jemné zvednutí */
    transition: all 0.3s ease;
}