.hero {
    display: grid;
    grid-template-columns: 33.3% 33.4% 33.3%;
    width: 100%;
    height: 90vh;
    align-items: center;
    text-align: center;
}

.projects {
    background-color: var(--bg);
    border-style:solid;
    border-width: 2px 0 0 0;
    border-color: var(--primary);
    align-items: center;
    text-align: center;

}

.project-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    align-items: center;
    text-align: center;
}

.project-card {
    height: 250px;
    background-color: aliceblue;
    padding: 10%;
    width: 80%;
}