.hero {
    display: grid;
    grid-template-columns: 33.3% 33.4% 33.3%;
    width: 100%;
    height: 90vh;
    align-items: center;
    text-align: center;
}

.projects {
    background-color: var(--bg);
    height: 199px;
    border-style:solid;
    border-width: 2px 0 0 0;
    border-color: var(--primary);
}