@import url("https://fonts.googleapis.com/css?family=Teko:700&display=swap");

body{
    padding:100px 0;
    background-color:#fff;
    animation: fadeIn 5s;
  }

  .main {
    display: flex;
    flex-direction: column;
  }
  
  #heart {
      position: relative;
      width: 100px;
      height: 90px;
      animation: fadeIn 1s;
      animation: heartbeat 1s infinite;
      margin:0 auto;
    
  }

  #heart:before,
  #heart:after {
      position: absolute;
      content: "";
      left: 50px;
      top: 0;
      width: 50px;
      height: 80px;
      background: #c33;
      -moz-border-radius: 50px 50px 0 0;
      border-radius: 50px 50px 0 0;
      -webkit-transform: rotate(-45deg);
         -moz-transform: rotate(-45deg);
          -ms-transform: rotate(-45deg);
           -o-transform: rotate(-45deg);
              transform: rotate(-45deg);
      -webkit-transform-origin: 0 100%;
         -moz-transform-origin: 0 100%;
          -ms-transform-origin: 0 100%;
           -o-transform-origin: 0 100%;
              transform-origin: 0 100%;
  }
  #heart:after {
      left: 0;
      -webkit-transform: rotate(45deg);
         -moz-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
           -o-transform: rotate(45deg);
              transform: rotate(45deg);
      -webkit-transform-origin: 100% 100%;
         -moz-transform-origin: 100% 100%;
          -ms-transform-origin: 100% 100%;
           -o-transform-origin: 100% 100%;
              transform-origin :100% 100%;
  }
  
  @keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @keyframes heartbeat
  {
    0%
    {
      transform: scale( .75 );
    }
    20%
    {
      transform: scale( 1 );
    }
    40%
    {
      transform: scale( .75 );
    }
    60%
    {
      transform: scale( 1 );
    }
    80%
    {
      transform: scale( .75 );
    }
    100%
    {
      transform: scale( .75 );
    }
  }

  .ily {
    display: flex;
    background-color: #c33;
    height: 50vw;
    text-align: center;
    justify-content: center;
    border-radius: 10px;
  }

    h1 {
      margin: 0;
      padding-bottom: 6rem;
      grid-column: 1;
      grid-row: 1;
      z-index: 1;
      font-family: 'Teko', sans-serif;
      font-size: 5rem;
      text-transform: uppercase;
      animation: glow 2s ease-in-out infinite alternate;
      text-align: center;
      justify-content: center;
    }
    a {
      font-family: 'Teko', sans-serif;
      color: #c33;
      grid-column: 1;
      grid-row: 1;
      align-self: end;
      justify-self: center;
      padding-bottom: 1rem;
    }

    span {
        color: #fff
    }
    
    @keyframes glow {
      from {
        text-shadow: 0 0 20px rgb(160, 69, 69);
      }
      to {
        text-shadow: 0 0 30px rgb(228, 154, 154), 0 0 10px #919191;
      }
    }
  

  .comic-button {
    display: inline-block;
    padding: 10px;
    margin: 50px 10vw;
    justify-content: center;
    align-items: center;  
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background-color: #c33;
    border: 2px solid #fff;
    border-radius: 10px;
    box-shadow: 5px 5px 0px #000;
    transition: all 0.3s ease;
    cursor: pointer;
  }
  
  .comic-button:hover {
    background-color: #fff;
    color: #ff5252;
    border: 2px solid #ff5252;
    box-shadow: 5px 5px 0px #ff5252;
  }
  
  .comic-button:active {
    background-color: rgb(61, 10, 10);
    box-shadow: none;
    transform: translateY(4px);
  }
  